In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_1 = pd.read_csv('vgsales.csv')
df_1 = df_1.drop(columns="Rank")

<h5>Dataframe yang dipakai:

In [52]:
df_1

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

<h1>Sampel Data</h1>
<p>Ada banyak metode sampling yang dapat digunakan dalam mengolah suatu data. Dalam tugas kali ini, kami akan menggunakan beberapa metode berikut:</p>
<ol>
<li>Systematic Sampling</li>
    <p>Systematic sampling mengelompokkan datapoints dengan suatu sistematika tertentu. Misalnya 10 data pertama, data terbesar, dan data terkecil.</p>
<li>Stratified Sampling</li>
    <p>Stratified Sampling mengelompokkan setiap datapoints ke dalam tiap-tiap strata. Strata yang dipakai ditentukan oleh setiap dataframe</p>
</ol>

<h3>Systematic Sampling: Dataframe 1</h3>
<p>Pada sampling ini, akan diberikan data 10 game pertama dengan penjualan global paling banyak</p>

In [12]:
max_10 = df_1.sort_values(by='Global_Sales', ascending=False)
max_10.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

<p>Pada sampling ini akan diberikan 10 data pertama game dengan penjualan global paling sedikit</p>

In [13]:
min_10 = df_1.sort_values(by='Global_Sales', ascending=True)
min_10.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01
16188,Toro to Morimori,PS3,2009.0,Misc,Sony Computer Entertainment,0.00,0.00,0.01,0.0,0.01
16187,Jewel Quest II,PC,2007.0,Puzzle,Avanquest,0.00,0.01,0.00,0.0,0.01
16186,BattleForge,PC,2009.0,Strategy,Electronic Arts,0.00,0.01,0.00,0.0,0.01
16185,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009.0,Adventure,Arc System Works,0.00,0.00,0.01,0.0,0.01
16184,Fatal Fury: Battle Archives Volume 2 (JP sales),PS2,2007.0,Fighting,SNK Playmore,0.00,0.00,0.01,0.0,0.01
16183,Sakura-Sou no Pet na Kanojo,PSP,2013.0,Adventure,Kadokawa Games,0.00,0.00,0.01,0.0,0.01
16182,Princess Arthur,PSP,2013.0,Misc,Idea Factory,0.00,0.00,0.01,0.0,0.01
16181,Resistance Dual Pack,PS3,2011.0,Shooter,Sony Computer Entertainment,0.00,0.01,0.00,0.0,0.01
16180,Rozen Maiden: Gebetgarten,PS2,2007.0,Fighting,Taito,0.00,0.00,0.01,0.0,0.01

<h3>Stratified Sampling: Dataframe 1</h3>
<h4>Dataframe 1 akan dikelompokkan ke dalam beberapa kelompok</h4>

<h5>Strata 1: Distribusi frekuensi platform game</h5>

<p>Dari kode di bawah dapat diperoleh distribusi frekuensi platform atau konsol game yang dimiliki oleh para konsumen game. Diketahui bahwa platform game terbanyak adalah Nintendo DS dan yang paling sedikit adalah SEGA Game Gear.</p>

In [15]:
platform = df_1.sort_values(by="Platform")
platform = platform.value_counts(subset="Platform")
platform

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: count, dtype: int64

<h5>Strata 2: Genre game berdasarkan jumlah penjualannya</h5>

Pertama kita kelompokkan data berdasarkan genre game.

In [3]:
genre = df_1[["Genre","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]]
genre = genre.groupby(by="Genre")

Jumlah rilisan game untuk setiap genre berdasarkan dataframe:

In [8]:
genre.count().filter(items=["Global_Sales"])

              Global_Sales
Genre
Action                3316
Adventure             1286
Fighting               848
Misc                  1739
Platform               886
Puzzle                 582
Racing                1249
Role-Playing          1488
Shooter               1310
Simulation             867
Sports                2346
Strategy               681

Jumlah salinan game yang terjual untuk setiap genrenya pada setiap region:

In [58]:
genre.sum()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Genre
Action          877.83    525.00    159.95       187.38       1751.18
Adventure       105.80     64.13     52.07        16.81        239.04
Fighting        223.59    101.32     87.35        36.68        448.91
Misc            410.24    215.98    107.76        75.32        809.96
Platform        447.05    201.63    130.77        51.59        831.37
Puzzle          123.78     50.78     57.31        12.55        244.95
Racing          359.42    238.39     56.69        77.27        732.04
Role-Playing    327.28    188.06    352.31        59.61        927.37
Shooter         582.60    313.27     38.28       102.69       1037.37
Simulation      183.31    113.38     63.70        31.52        392.20
Sports          683.35    376.85    135.37       134.97       1330.93
Strategy         68.70     45.34     49.46        11.36        175.12

<h5>Strata 3: Publisher Game</h5> <br>
Data dikelompokkan berdasarkan publisher dari game tersebut. Lalu jumlah salinan setiap game yang dibuat oleh studio game tersebut kita jumlahkan dengan method sum() untuk meninjau berapa banyak salinan game yang telah dijual oleh setiap studio tersebut.

In [16]:
pub = df_1[["Publisher","NA_Sales","EU_Sales","JP_Sales","Other_Sales","Global_Sales"]]
pub = pub.groupby(by="Publisher")
pub = pub.sum()

Setelah itu kita dapat melihat beberapa data statistik, seperti:

In [21]:
# 10 studio game dengan penjualan game paling sedikit
pub.sort_values(by="Global_Sales",ascending=False).tail(10)

                       NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Publisher
Genterprise                0.00      0.00      0.01          0.0          0.01
New World Computing        0.01      0.00      0.00          0.0          0.01
Otomate                    0.00      0.00      0.01          0.0          0.01
Ascaron Entertainment      0.00      0.01      0.00          0.0          0.01
Stainless Games            0.01      0.01      0.00          0.0          0.01
Ongakukan                  0.00      0.00      0.01          0.0          0.01
Commseed                   0.00      0.00      0.01          0.0          0.01
Takuyo                     0.00      0.00      0.01          0.0          0.01
Boost On                   0.00      0.00      0.01          0.0          0.01
Naxat Soft                 0.00      0.00      0.01          0.0          0.01

Dari hasil di atas dapat disimpulkan bahwa 10TACLE Studios menjadi studio game dengan nilai penjualan terkecil.

In [23]:
# 10 studio game  dengan penjualan game terbanyak
pub.sort_values(by="Global_Sales",ascending=False).head(10)

,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,
Nintendo,816.87,418.74,455.42,95.33,1786.56
Electronic Arts,595.07,371.27,14.04,129.77,1110.32
Activision,429.70,215.53,6.54,75.34,727.46
Sony Computer Entertainment,265.22,187.72,74.10,80.45,607.50
Ubisoft,253.43,163.32,7.50,50.26,474.72
Take-Two Interactive,220.49,118.14,5.83,55.24,399.54
THQ,208.77,94.73,5.01,32.14,340.77
Konami Digital Entertainment,92.16,69.69,91.30,30.31,283.64
Sega,109.40,82.00,57.03,24.52,272.99
Namco Bandai Games,69.52,42.63,127.07,14.69,254.09